@media (max-width: 1200px) {
    .catalog__content {
        justify-content: space-around;
    }
}

@media (max-width: 991px) {
    .container {
        width: 90%;
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

    .footer {
        &__info {
            width: 400px;
            height: 235px;
            padding-top: 25px;
        }
    }
}



@media (max-width: 767px) {
    .header {
        &__phone {
            font-size: 16px;
        }
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }

    }
    .advantages {
        &__items {
            flex-direction: column;
        }
        &__descr {
            display: block;
            margin: 0 auto;
        }
    }

    .title_left {
        font-size: 30px;
    }

    .consultation {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .catalog__tab {
        font-size: 15px;
    }

    .footer {
        &__info {
            width: 375px;
            height: 215px;
            padding-top: 25px;
        }
        &__addr {
            margin-bottom: 20px;
            font-size: 18px;
        }
    
        &__phone {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

}

@media (max-width: 575px) {
    .header {
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 28px;
            text-align: center;
        }
        &__subheader {
            font-size: 15px;
            text-align: center;
        }
        &__icons {
            flex-wrap:wrap;
            width: 320px;
            justify-content: center;
            margin-top: 0;
        }
        &__icon {
            margin-top: 10px;
        }
        &__link {
            font-size: 14px;
        }

    }
    .advantages {
        padding-bottom: 40px;
        &__items {
            margin-top: 30px;
        }
        &__subtitle {
           margin-top: 10px; 
        }
        &__descr {
            padding-bottom: 20px;
        }
    }

    .button {
        width: 120px;
        height: 25px;
        font-size: 11px;
        margin-left: 15px;
    }

    .button_main {
        margin-top: 40px;
        width: 250px;
        height: 40px;
        font-size: 14px;
        margin-left: 0;
    }
    
    .title {
        font-size: 19px;
    }

    .title_left {
        text-align: center;
    }

    .consultation {
        padding-top: 40px;
        &__descr {
            padding-top: 30px;
            font-size: 16px;
            text-align: center;
        }
    }

    .button_submit {
        margin: 0;
        width: 100%;
        height: 55px;
        font-size: 14px;
    }

    .feed-form {
        width: 100%;
    }

    .slick-dots button {
        width: 50%;
        height: 50%;
    }
    
    .carousel {
        padding: 40px 0;
    }

    .catalog {
        &__tabs {
            margin-top: 20px;
            flex-direction: column;
        }

        &__tab {
            width: 180px;
            height: 30px;
            margin: 2px 0;
            div {
                line-height: 28px;
            }
        }

        &__content {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        &-item {
            padding: 20px 10px 26px 10px;
            &__old-price {
                font-size: 11px;
            }
            &__price {
                font-size: 14px;
            }
        }
    }

    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            margin-left: 22px;
            padding-right: 20px;
        }
        &__img {
            margin-bottom: 20px;
        }
        &__subtitle {
            text-align: center;
        }
        &__count {
            text-align: center;
        }
        hr {
            margin: 15px 0;
        }
    }

    .footer {
        &__info {
            height: 180px;
        }
        &__addr {
            margin-bottom: 15px;
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
            margin-bottom: 15px;
        }
        &__sosial-item {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        min-height: 400px;
        padding: 30px 30px 30px 30px;
        &__close {
            top: 8px;
            right: 8px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
        }
    }

    .error {
        font-size: 12px;
    }
}
