.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 78px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__header {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 42px;
        text-align: center;
    }
    &__items {
        display: flex;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__title {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        margin-top: 29px;
        width: 247px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
        }
    }

}